// Body
$body-color: red;
$body-bgc: #FFFFFF;

// Navbar
$navbar-bgc: #eeeeee;
$navbar-bgc-2: #cfcfcf;
$navbar-shadow: #00000021 0px 5px 8px 0px;
$navbar-color: #6e6e6e;

// Stocks
$stock-width: 350px;
$stock-border-radius: 10px;
$stock-color-1: #14580b;
$stock-color-2: #bfddc6;
$stock-color-3: #13a000;

$stock-color-4: #57580b;
$stock-color-5: #ddddbf;
$stock-color-6: #a09500;